<div class="container_big-card">
  <div class="big-card_photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSknTsWM2nkoZ8PlwTkGRQqN2Zcjag4fj7RA&usqp=CAU"
      alt=""
      height="200px"
      srcset=""
      >
  </div>

  <div class="big-card_title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card_description">
    <p>
      <a href="#">
      Foi lançado a nova versão do Angular com atualizações de bugs.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Praesent tempus lobortis lacus eu fringilla. Morbi rutrum quis
      magna vitae iaculis. Cras tristique volutpat leo vel gravida.
      Maecenas rhoncus feugiat luctus.
      </a>
    </p>

  </div>
</div>
